.film-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.film-details-section .film-details {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    width: 100%;
}
.film-details-section .film-details .film-image {
    margin-bottom: 30px;    
}
.film-details-section .film-details .film-release-date {
    color: #555;
}
.film-details-section .film-details .film-description {
    margin-top: 20px;
    width: 80%;
    text-align: center;
}
.film-details-section .detail-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    width: 100%;
}
.film-details-section .detail-options .details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 50px 100px;
    width: 100%;
}